@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: url(../img/alfredo-viramontes-4lqaS-KCyFE-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 50vw;
}

h3 {
  background-color: #ffffff86;
  color: aliceblue;
  font-family: "Freehand", cursive;
  font-size: 32px;
  margin: 30px 35px 0 35px;
  padding: 10px 0;
  text-align: center;
  text-shadow: -1.4px 0.6px 2px #605e5e;
  width: 94vw;
}
